/* Carousel Controls */
body {
  overflow: hidden;
}
.carousel-control-color {
  color: rgb(9, 9, 9);
}

.carousel-control {
  width: 15%;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control:hover {
  opacity: 0.9;
}

/* Carousel Indicators */
.carousel-indicator {
  width: 30px;
  height: 3px;
  /* line-height-step: 10px; */
  appearance: 3px;
  opacity: 0.5;
  background-color: white;
  transition: opacity 0.6s ease;
}

.carousel-indicator.active {
  opacity: 1;
  background-color: white;
}

/* Carousel Caption */
.carousel-caption {
  width: 50%;
  color: white;
  padding-top: 1.25cm;
  appearance: 1.25cm;
}

/* Carousel Control Icons */
.carousel-control-icon {
  width: 2cm;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Carousel Control Icons Backgrounds */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
  width: 2cm;
  height: 2cm;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
  width: 2cm;
  height: 2cm;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Carousel Transition */
.carousel {
  transition: transform 0.6s ease-in-out;
}
/* Add this to your existing CSS */
/* .card-carousel-container {
  width: 200px;
  height: 200px;
  margin: auto; 
  overflow: hidden; 
  align-content: center;
} */

.carousel-inner {
  height: 25cm; 
  padding-left:35%;
  align-items: center;
}

/* Adjust your existing styles as needed */
/* Add this to your existing CSS */
/* .card-carousel-container {
  width: 10px; 
  height: 10px; 
  margin: auto; 
  overflow: hidden; 
} */

/* .carousel-inner {
  height: 50%; 
} */

/* Update your existing styles as needed */
.d-blockw-100 {
  height: 50%;
  width: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control {
  width: 10%; 
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-icon {
  width: 1.5 cm; 
  margin-left: 50%; /* Adjusted to center the control icons */
  transform: translateX(-50%); /* Adjusted to center the control icons */
  align-items: center;
}

/* Carousel Transition */
.carousel {
  transition: transform 0.6s ease-in-out;
}
#french
{
  height:50%;
}