body{
    margin:0;
}
.navbar {
    background-color: #4d3100;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    opacity:90%;
    margin-top:0;
    padding: 0 0 0 0 ; 
}


.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    color:  #dbdbb6;
}

.app-name {
    margin-left: 2.5cm;
    font-family: 'Courier New', Courier, monospace;
}

.user-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 20px;
    font-family: monospace;
    font-weight: 500;
}

.user-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.user-links a:hover {
    color: #ddd;
    transition: 0.3s;
}

.signup,.signin,.logout
{
    justify-content: space-around;
    padding:10px;
}
.container-fluid
{
    left:10;
    position: absolute;
}

.imglogo
{
    height:1.6cm;
    width:1.6cm;
    margin-top:4px;
    position:relative;
}
.main
{
    margin-top:0;
}
.resortdiv
{
    background-image: url('https://travelogyindia.b-cdn.net/storage/app/upload/machan.jpg');
    background-size: cover;
    background-color: #623e00;
    background-position: center;
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:60%;

}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.popup-content label {
    font-weight: bold;
}

.popup-content input[type='text'],
.popup-content input[type='date'],
.popup-content input[type='number'] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.popup-content button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4d3100;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.popup-content button:hover {
    background-color: #623e00;
}
